# Исключаем папку .vscode и все её содержимое
.vscode/

# Исключаем папку config и все её содержимое
config/

# Исключаем папку node_modules и все её содержимое
node_modules/

# Исключаем папку public и все её содержимое
public/

# Исключаем папку scripts и все её содержимое
scripts/

# Исключаем папку build и все её содержимое
build/