.slider{
    width: 100%;

}

.slick-slide > div{
    margin: 0 20px;
}
.img{
    background: none;
    border: 0;
    max-width: 95px;
    height: 95px;
    border-radius: 10px;
}
.wraper{
    width: 100%;
    height: 100%;
}
.slickPrev,.slickNext{
    min-width: 15px;
    min-height: 100%;
    margin: auto 0;
    border: none;
    background-color: transparent;
}
.slickPrev > svg,.slickNext > svg{

    min-width: 7.5px;
    height: 23.293px;
}
.slickNext{
    transform: rotate(180deg);
}
@media (max-width:540px){
    .img{

        height: 80px;
        
    }
}
@media (max-width:440px){
    .img{

        height: 70px;
        min-width: 70px;
        
    }
}