/* ---Fonst--- */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700;800&family=Roboto:wght@100;300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
/* ====== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a{
  text-decoration: none;
}
html {
  height: 100%;
}
body {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;
  height: 100%;
  font-family: 'Poppins', sans-serif;
}
button{
  cursor: pointer;
}
#root {

  min-height: 100%;
  display: flex;
  flex-direction: column;
}
input {
  all: initial;
}
/* .row{
  display: flex;
  flex-direction: row;
}
.column{
  display: flex;
  flex-direction: column;
} */

/* ---Code-- */
.wraper {
  flex-grow: 1;
position: relative;
min-height: 100%;
display: flex;
flex-direction: column;
}

/* Пример стилей для класса .container */
.container {
  height: 100%;
  width: 100%; /* Ширина контейнера на всю доступную ширину */
  max-width: 1200px; /* Максимальная ширина контейнера, чтобы ограничить его размер */
  margin: 0 auto; /* Центрирование контейнера по горизонтали */

  box-sizing: border-box; /* Учёт внутренних отступов и границы в общей ширине */
}

.page{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
._fixed{
position: fixed;
top: 0;
left: 0;
}
@media (max-width: 1125px){
.container {
  width: 90% !important;
  padding: 0 !important;
}
}
.slick-slide > div{
  margin: 0 20px;
  display: flex;
  justify-content: center;
}
.slick-slider{
  display: flex !important;
  width: 100%;
  flex-direction: row;
}
.row{
  display: flex;
  flex-direction: row;
}